@media screen and (min-width:650px) {
    .title_category_Section_header{
        font-size: 25px !important;
        text-transform: none;
    }
    .more_category_section_header{
        text-transform: none;
    }
    .index_category_image_height{
        min-height: 130px;
    }
    .vendor_product_card_delete_style1{
        margin-top: 29px;
        padding-right: 24px;
        padding-left: 24px;
        margin-left: 0%;
    }
    .visit_shop_style{
        position: absolute;
        right: -93px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        top: 17px;
        text-decoration: none;
        color: black;
        float: right;
        cursor: pointer;
        overflow: hidden;
        text-transform: none;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        text-align: right;
        white-space: nowrap;
    }
    .blog_visit_style{
        position: absolute;
        width: -webkit-fit-content;
        right: -270px;
        width: -moz-fit-content;
        width: fit-content;
        top: 17px;
        text-decoration: none;
        color: black;
        float: right;
        cursor: pointer;
        overflow: hidden;
        text-transform: none;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        text-align: right;
        white-space: nowrap;
        float:right !important;
        white-space: nowrap;
    }
    .shop_name_container{
        margin-bottom: 22px;
    }
    .react-quil-container432{
        height: 200px !important;
        margin-bottom: 60px;
    }
    .section3_height{
        height: 130px;
    }
}