/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media screen and (max-width: 650px) {
    .index_product_container{
      height: 210px !important;
    }
    .category_flower_height{
      height: 1510px;
    }
    .index_category_image_height{
      min-height: 80px;
    }
    .title_category_Section_header {
      font-size: 20px !important;
      text-transform: none;
    }
    .vendor_product_card_delete_style1{
      margin-top: 29px;
      padding-right: 15px;
      padding-left: 15px;
      margin-left: 0%;
  }
    .more_category_section_header {
      text-transform: none;
      font-size: 10px;
    }
    .react-quil_main_container{
      margin-bottom: 60px;
    }
    .visit_shop_style {
      position: absolute;
      right: -50px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      top: 17px;
      text-decoration: none;
      color: black;
      float: right;
      cursor: pointer;
      overflow: hidden;
      text-transform: none;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      text-align: right;
      white-space: nowrap;
    }
    .blog_visit_style{
      position: absolute;
      right: -220px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      top: 17px;
      text-decoration: none;
      color: black;
      float: right;
      cursor: pointer;
      overflow: hidden;
      text-transform: none;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      text-align: right;
      white-space: nowrap;
    }
    .margin_bottom_50 {
      margin-bottom: 40px !important;
    }
    .subscribe_shop_style {
      position: absolute;
      right: 41px;
      top: 285px;
    }
    .shop_name_shop{
      padding:4px 0px !important;
    }
    .shop_name_container{
      margin-bottom: 10px !important;
    }
    .cart_productcard1_style{
      margin-bottom: 20px;
    }
    .rating_productcard1_style{
      margin-top: -7px !important;
      margin-bottom: 7px !important;
    }
    .detail_product_card1_style{
      padding-bottom: -30px;
      height: 80px;
    }
    .order_class4{
      width: 120px !important;
      /*text-align: center !important;*/
      padding: 3px 15px !important;
    }
    .social-links{
      padding-right: 0px;
      padding-left: 0px;
    }
    .shop_order4{
      position: relative !important;
      padding: 2px !important;
      padding-right: 15px !important;
      padding-left: 15px !important;
  
  
    }
    #uzcard{
      margin-top: 5px !important;
    }
    .shop_order_delivery_price{
      /*width: 100px !important;*/
      /*overflow: hidden !important;*/
      /*text-overflow: ellipsis;*/
      overflow: hidden;
      width: 150px;
      -webkit-box-pack:center !important;
      -ms-flex-pack:center !important;
      justify-content:center !important;
    }
    .shop_order_status_name{
      text-align: center !important;
      margin-left: 20px;
      margin-right: 5px;
  
  
    }
    .shop_order4{
      width: 100px !important;
    }
    .shop_orders_table{
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      padding: 5px;
      -webkit-box-flex: 0 !important;
      -ms-flex: none !important;
      flex: none !important;
      -webkit-box-pack:left;
      -ms-flex-pack:left;
      justify-content:left;
      background-color: white;
      border-radius: 15px;
      margin-bottom: 10px;
      width: 100% !important;
      -webkit-box-align: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
      -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
      justify-content: space-between !important;
    }
    .productcard6_chip{
      color: black !important;
      text-align: center;
      font-size: 10px;
      word-break: keep-all;
      word-wrap: inherit;
      overflow:hidden;
      text-overflow: ellipsis;
    }
    .productcard6_product_Style{
      border-radius: 120px;
    }
    .vendor_products_category_name{
      width: 40px;
      overflow:hidden !important;
      text-overflow: ellipsis !important;
    }
    .react-quil-container432{
      height: 200px !important;
      margin-bottom: 100px;
    }
    .banner_index_carousel_style{
        width: 100vw;
        height: 100%;
    }
    .section3_height{
      height: 100px;
  }
  }