#asasas12:nth-child(2n + 1){
    background-color: rgba(246,249,252,255);
    margin-left: -5px;
}
.hover_button_user{
    z-index: 0;
    background: rgba(255, 255, 255, 0);
    width: 70px;
    overflow-x: hidden;
    border-radius: 0px;
    word-break: keep-all;
    word-wrap: revert;
    color: #ae99d2;
    margin-top: 23px;
}
.hover_button_user:hover{
    background-color: white !important;
    color: white !important;
}
.hover_button_akkount:hover{
    background-color: white !important;
}
.header_cart_style2{
    font-size: 25px;
    color: #ae99d2;
}
.index_header_container_style2{
    min-height: 80px;
    background-color: white;
}
.object_fit_cover{
    object-fit: cover;
}
.vendor_add_product_select_Style{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
.header_wishlist_style1{
    z-index: 0;
    background: rgba(255, 255, 255, 0);
    margin-left: -12px;
}
.header_order_Status_style2{
    font-size: 25px;
    margin-left: 2px;
    left: 40%;
    position: relative;
    margin-bottom: 1px;
}
.index_seo_grid{
    padding: 5px;
    padding-bottom: 5px;
    padding-top: 20px;
}
.akkount_margin{
    margin-top: 2px;
    margin-left: 6px;
}
.category_flower_height{
    height: 2690px;
}
#asasas12 div{
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.width-fit-content{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
#asasas12{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}
/* width */
#asasas12::-webkit-scrollbar {
    width: 8px;
}
#delete_x_button{
    width: 50px;
}
.index_product_container{
    height: 420px;
}


@media screen and (min-width: 576px) {

    #payme{
        /*padding-left: 7px;*/
        margin-top: -12px;
        /*margin-right: 15px;*/
    }

    #uzcard{
        /*padding-left: 7px;*/
        margin-top: -5px;
        /*margin-right: 25px;*/
    }

    #paynet{
        /*padding-left: 7px;*/
        margin-top: -20px;
        /*margin-right: 15px;*/
    }

    #click{
        /*padding-left: 7px;*/
        margin-top: -20px;
        /*margin-right: 15px;*/
    }
}
@media screen and (max-width: 576px),(min-width: 350px) {
    #payme{
        /*padding-left: 10px;*/
        margin-top: -12px;
        padding-right: 10px;
        /*margin-right: 20px;*/
    }
    #uzcard{
        padding-right: 10px !important;
        margin-top: -5px;
        /*padding-right: 40px;*/
    }
    #paynet{
        /*padding-left: 7px;*/
        padding-right: 10px !important;
        margin-top: -20px;
        /*margin-right: 15px;*/
    }

    #click{
        /*padding-left: 5px;*/
        padding-right: 10px !important;
        margin-top: -20px;
        /*margin-right: 15px;*/
    }
    /*#apelsin{*/
    /*    margin-top: -20px;*/
    /*}*/


}
@media screen and (max-width: 350px) {

    #payme{
        /*padding-left: 7px;*/
        margin-top: -12px;
        /*padding-right: 40px;*/
    }

    #uzcard{
        /*padding-left: 20px;*/
        margin-top: 5px !important;
        /*padding-right: 20px;*/
    }

    #paynet{
        /*padding-left: 7px;*/
        margin-top: -20px;
        /*margin-right: 15px;*/
    }
    #click{
        /*padding-left: 7px;*/
        margin-top: -20px;
        /*margin-right: 15px;*/
    }

}
/*@media screen and (max-width: 650px) {*/
/*    #delete_x_button{*/
/*        width: 100% !important;*/
/*    }*/
/*}*/
/* Track */
#asasas12::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#asasas12::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 40px;
}

/* Handle on hover */
#asasas12::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 800px) {
    .wrap_1d4b{
        bottom:100px !important;
    }
    .wrap_0b89{
        margin-bottom: 60px !important;
    }
    #vendor_product_table_price{
        font-size: smaller;
    }
    .banner_title{
        font-size: 12px;
        font-weight: bold;
    }
}
@media screen and (min-width: 800px) {
    #jvlabelWrap{
        width:20px !important;
    }



}
#chosen_card{
    top: -25px;
    left: -5px;
}
#shop_name{
    width: 100%;
    background-color: #EEA8E3;
    color: white;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 3px;
    padding-left: 10px;
    font-size: 20px !important;
}
.logo_image{
    width: 200px;
    height: 40px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: left;
    object-position: left;
}
#shop_address{
    white-space: nowrap;
    padding-right: 50px;
    max-width: 400px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
#scroll_to_top{
    background-color: rgba(75,199,156,255);
}
@media screen and (max-width: 900px) {
    #scroll_to_top{
        display: none;
    }
}
#footer_Address{
    word-break: break-all;
}
@media only screen and (max-width: 460px),(min-width: 330px) {

    .ymaps-2-1-77-search, .ymaps-2-1-77-search_layout_normal, .ymaps-2-1-77-searchbox__normal-layout{
        width: 180px !important;
    }
    .ymaps-2-1-77-search__suggest-catalog{
        width: 180px !important;
    }
}
@media only screen and (max-width: 329px) {

    .ymaps-2-1-77-search, .ymaps-2-1-77-search_layout_normal, .ymaps-2-1-77-searchbox__normal-layout{
        width: 120px !important;
    }
    .ymaps-2-1-77-search__suggest-catalog{
        width: 120px !important;
    }
    .ymaps-2-1-77-searchbox-button,.ymaps-2-1-77-_pin_right, .ymaps-2-1-77-user-selection-none{
        width: 30px !important;
        overflow: hidden;
    }
}

#vendor_product_filter{
    margin-top: -23px !important ;
}
#vendor_product_table_name{
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}
#cart_card_img{
    margin-left: 5px;
    margin-right: 5px;
}
@media screen and (min-width: 776px){
    #footer_main_container{
        padding-bottom:-25px;
        -webkit-box-pack:justify;
        -ms-flex-pack:justify;
        justify-content:space-between;
    }
    #footer_navigatgion_header{
        margin-top:-5px !important;
    }
    #footer_navigatgion_header{
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    #footer_header_text{
        padding-bottom: 8px;
    }
    #review_image_container{
        width:100%;
        height:400px
    }
}
@media screen and (min-width: 460px) and (max-width:800px) {
    .product_image_slider{
        width: 100vw !important;
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 776px) {
    #footer_container{
        padding-bottom: 60px;
    }
    #footer_main_container{
        padding-bottom:-25px;
    }
    #footer_navigatgion_header{
        margin-top: 10px;
    }
    #review_image_container{
        width:100%;
        height:200px
    }

}
@media screen and (max-width:900px) {
    .button_5724{
        bottom: 20px !important;
    }
    .__jivoMobileButton{
        bottom: 50px !important;
    }
    .icons_2a4c{
        bottom: 0px !important;
    }
}
.bg-darker-light{
    background-color: #dbebff;
}
.cursor-pointer2{
    cursor: pointer !important;
}

@media screen and (max-width: 800px) {
    .padding-y-30{
        padding: 70px 50px !important;
    }
    .order_status_text{
        position: absolute;
        text-align: center;
        top: 72px;
    }
    .product_image_slider_main{
        width: 350px !important;
    }
    .product_image_main{
        width: 283px;
    }
    .product_image{
        width: 95vw !important;
    }

    .product_image_slider{
        width: 92vw !important;
        margin-top: -60px;
    }
    .add_to_cart_detail{
        width: 82vw !important;
    }
    .buy_now_detail{
        width: 82vw !important;
    }
    .plus_minus_container_detail{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .details-hr-sm-100{
        width:100vw;
    }
    .width-sm-100{
        width: 100% !important;
    }
    .margin-right-sm-0{
        margin-right: 0px !important;
    }
    .product_image2{
        width: 170px;
        height: 130px;
    }
}
@media screen and (min-width: 800px) {
    .product_image{
        width: 420px !important;
    }
    .product_image_slider{
        width: 420px !important;
    }
    .details-hr-7{
        width: calc(100vw/12*7);
    }
    .product_image2{
        width: 283px;
        height: 300px;
    }
    .padding-y-30{
        padding: 70px 100px !important;
    }
    .order_status_text{
        position: absolute;
        text-align: center;
        top: 72px;
        white-space: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
    }
}
.iiz__zoom-img {
    -o-object-fit: cover !important;
    object-fit: cover !important;
    -o-object-position: center !important;
    object-position: center !important;
}
.section-after-sticky{
    min-height: 80vh;
}
.word-break{
    word-break: break-all;
    white-space: break-spaces;
    word-wrap: break-word;
}
.check_status_container{
    width: calc(100vw-20px);
}
.indexedStep1{
    padding: 15px;
    background-color: rgb(155, 155, 155);
    border-radius: 25px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

}


.padding-0{
    padding-right: 0px !important;
}
.py-30{
    margin-top: 40px;
    margin-bottom: 90px;
}
.accomplished{
    background-color: red;
    color: white;
}
.fs-xx-small{
    font-size:xx-small;
}
.whitespace-nowrap{
    white-space: nowrap !important;
}
.checkout_order_status{
    position: absolute;
    bottom: 0px;
    width: 93%;

}
.checkout_order_status2{
    position: absolute;
    bottom: 40px;
    width: 93%;

}
.w-100vw{
    width: 100%;
}
.w-95{
    width: 93% !important;
}
.h-50vh-scroll{
    height: 55vh !important;
    overflow: scroll !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: none !important;
    flex: none !important;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.h-100vh{
    height: 100vh !important;

}
.mb-0-important{
    margin-bottom: 0px !important;
}
.word-break p{
    margin-bottom: 0px;
}
.dgEHof{
    -webkit-box-shadow:none !important;
    box-shadow:none !important;
}
.w-100vw{
    width: 100vw !important;
}
.whitespace-break{
    white-space: normal !important;
}
.mt-50{
    margin-top: 30px;
}
.height-fit{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.carousel__inner-slide{
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
}
.faq_accordions{
    margin-bottom: 10px;
    border: 1px solid #dbdbdb !important;

}
.fontSize-small{
    font-size: 22px !important;
}
.bg2-warning{
    background-color: rgb(250, 250, 134);
}
.bg2-danger{
    background-color: rgb(255, 128, 128);
    color: white;
}
.bg2-secondary{
    background-color: rgb(167, 167, 167);
    color: white;
}
.bg2-success{
    background-color: rgb(107, 213, 107);
    color: white !important;
}
/* .extra-icons{
    display: block !important;
} */
.margin-top-options{
    margin-top: 3px;
}
.extra-icons{
    top: 2.25rem !important;
}
.extra_icons2{
    display: block !important;
    top: 0.75rem !important;
    right: 0.75rem !important;

}

.w-fit{
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}
.delivery_cost_cart{
    padding-top: 12px;
}
/*.carousel_margin_top{*/
/*    margin-top: 35px !important;*/
/*    margin-bottom: 10px;*/
/*}*/
.text-transformation-none{
    text-transform: none !important;
    text-decoration: none !important;
}
.text-transformation-none:hover{
    color: black;
    text-decoration: none !important;
}
.position-relative{
    position: relative;
}
.check_order_payment{
    position: absolute;
    left: 95px;
}
.budget_description{
    overflow: auto !important;
    word-break: break-all !important;
    white-space: pre-wrap !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}
.order_class4{
    position: relative !important;
    /*text-align: center !important;*/
    -webkit-box-pack: left !important;
    -ms-flex-pack: left !important;
    justify-content: left !important;
}
.search_header_field{
    max-width: 100% !important;
}
.comments_full{
    height: 17px;
    font-size: smaller;
    border: none;
    margin-left: 10px;
}
.my-editing-area{
    height: 100% !important;
}
.react-quil-container43{
    height: 300px !important;
}
.react-quil_main_container{
    margin-bottom: 40px;
}
.margin-bottom-15{
    margin-bottom: 15px !important;
}
.margin-top-25{
    margin-top: 25px !important;
}
.seotext_overflow{
    height: 312px !important;
    overflow: hidden !important;
}
.seotext_button{
    border: none;
    background-color: white;
    color: red;
}
.seotext_button:focus{
    outline: none;
}
.blog_style{
    display: table;
}
.blogcell{
    align-self: stretch !important;
}
.blog_clock{
    margin-top: 3px;
}
.blog_list_image{
    height: 250px;
    width: 382px !important;
    object-fit: cover !important;
}
.blog_list_image_container{
    width: 300px !important;
    height: 250px !important;
}
.blog_short_text{
    height: 172px;
    overflow: hidden;
}
.order_map_container{
    height: 160px !important;
    overflow: hidden;
}
.footer_mui_accordion-details{
    background-color: #F8CBDF !important;
}
.mui-footer-accordion-summary{
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border-color: #F8CBDF !important;
    background-color: #F8CBDF !important;
}
.bg-f8cbdf{
    background-color: #F8CBDF !important;
}

.blog_short_text5{
    line-height: 18px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog_short_text2{
    line-height: 18px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog_short_text1{
    line-height: 18px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog_short_text0{
    line-height: 18px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fs-12{
    font-size: 12px;
}
.topbar_logo{
    /*height:px !important;*/
    /*object-fit: cover;*/
    /*object-position: left;*/
    height: 40px !important;
    width: 100px !important;
    object-fit: fill !important;

}
.productName_vendor_orders{
    min-width:50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.vendor_products_categoryName{
    padding-left: 165px !important;
}
.vendor_products_price{
    padding-left: 30px;
}
.vendor_orders_id{
    margin-left: 40px;
    white-space: nowrap;
}
.vendor_orders_status{
    margin-left: 100px;
    white-space: nowrap;
}
.vendor_orders_date{
    margin-left: 50px;
    white-space: nowrap;
}
.vendor_orders_total{
    margin-left: 60px;
    white-space: nowrap;
}
.vendor_orders_actions{
    margin-left:165px;
    white-space: nowrap;
}
.vendor_products_name{
    flex: 20% !important;
}
.vendor_order_container{
    overflow-x: scroll !important;
    overflow-y: fragments;
}
.margin-bottom-25{
    margin-bottom: 25px;
}
.margin-bottom-5{
    margin-bottom: 5px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.productcard6_chip{
    color: black !important;
    text-align: center;
    font-size: 13px;
}
.productcard6_product_Style{
    border-radius: 120px;
}
.quill_image{
    max-width: 90%;
    max-height: 100px;
    object-fit:contain !important;
    object-position: center !important;
    display: flex;
    justify-content: center;
}
.reactquill-height2{
    height: 50px;
}
.react-quil-container432{
    height: 200px !important;
}
.product_image2{
    overflow: hidden !important;

}
.shop_description_style{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}
.header_icon_style{
    font-size:25px;
    margin-left:0px;
    color:#ae99d2;
}
.header_icon_text_Style{
    font-size: small;
    font-weight: lighter;
    color: black;
    width: 60px;
}
.padding-20{
    padding: 20px;
}
.header_icon_text_Style2{
    font-size: small;
    font-weight: lighter;
    width: 70px;
    overflow-x: hidden;
    border-radius: 0px;
    word-break: keep-all;
    word-wrap: revert;
}
.header_help_icon_container{
    z-index: 0;
    margin-left: -5px;
    width: 70px;
    overflow-x: hidden;
    border-radius: 0px;
    word-break: keep-all;
    word-wrap: revert;
}
.background-rgb{
    background: rgba(255, 255, 255, 0);
}
.header_help_icon_style{
    font-size: 25px;
    margin-left: 2px;
    color: #ae99d2;
}
.fs-small{
    font-size: small;
}
.ml-2px{
    margin-left: 2px;
}
.fs-large{
    font-size: large;
}
.banner_index_carousel_style{
    width: 100vw;
    height: 100%;
}
.breadcrumb-main{
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 0.25rem;
}

.breadcrumb-main-item{
    align-items: center;
    word-wrap: break-word;
    width: fit-content;
    color: #5c636a;
}
.breadcrumb-main-item.active2{
    font-weight: bold;
}
.breadcrumb-main-divider{
    font-size: xx-small;
}

.breadcrumb-main-item.active {
    color: #6abaff;
}