
@media screen and (max-width:650px){
    .carouselStyle{
        margin-bottom: 0rem;
        margin-top: 0rem;
        padding-right: 1rem;
        overflow-x: hidden;
    }
    /* .caroseul_creator_style{

    } */
}
@media screen and (min-width: 2000px){
    .search_header_field{
        width: 70% !important;
    }
}
@media screen and (min-width:1400px) and (max-width:2000px){
    .carouselStyle{
        margin-left: 1rem;
        margin-right: 1.4rem;
    }
    .caroseul_creator_style{
        margin-left: 0px;
    }
    .search_header_field{
        width: 70% !important;
    }
}
@media screen and (min-width:1211px) and (max-width:1400px){
    .carouselStyle{
        margin-left: 2rem;
        margin-right: 6.9rem;
    }
    .caroseul_creator_style{
        margin-left: 8%;
        margin-right: 8%;
    }
    .search_header_field{
        width: 70% !important;
    }
}
@media screen and (min-width:1122px) and (max-width:1211px){
    /*.carouselStyle{*/
    /*    margin-left: 0rem;*/
    /*    margin-right: 0rem;*/
    /*}*/
    .caroseul_creator_style{
        margin-left: 90px;
        margin-right: 102px;
    }
    .search_header_field{
        width: 70% !important;
    }
    .vendor_orders_id{
        margin-left: 40px;
        white-space: nowrap;
    }
    .vendor_orders_status{
        margin-left: 100px;
        white-space: nowrap;
    }
    .vendor_orders_date{
        margin-left: 50px;
        white-space: nowrap;
    }
    .vendor_orders_total{
        margin-left: 60px;
        white-space: nowrap;
    }
    .vendor_orders_actions{
        justify-content: right;
    }
}
@media screen and (min-width:1025px) and (max-width:1130px) {
    .vendor_orders_status{
        margin-left: 10%;
    }
    .vendor_orders_date{
        margin-left:6%;
    }
    .vendor_orders_total{
        margin-left: 6%;
    }
    .vendor_orders_actions{
        margin-left: 12%;
    }

}
@media screen and (min-width:900px) and (max-width:1025px) {
    .vendor_orders_status{
        margin-left: 13vw !important;
    }
    .vendor_orders_date{
        margin-left:6vw;
    }
    .vendor_orders_total{
        margin-left: 9vw;
    }
    .vendor_orders_actions{
    position: absolute;
    right: 0px;
    }
}



@media screen and (min-width:1000px) and (max-width:1122px){
    .carouselStyle{
        margin-left: 1rem;
        margin-right: 5.1rem;
    }
    .caroseul_creator_style{
        margin-left: 40px;
        margin-right: 55px;
    }
    .search_header_field{
        width: 70% !important;
    }
    .vendor_products_categoryName{
        padding-left: 205px !important;
    }
    .vendor_products_price{
        padding-left: 50px;
    }
}
@media screen and (min-width:937px) and (max-width:1000px){
    .carouselStyle{
        margin-left: 1rem;
        margin-right: 5rem;
    }
    .caroseul_creator_style{
        margin-left: 120px;
        margin-right: 150px;
    }
    .search_header_field{
        width: 70% !important;
    }
    .vendor_products_categoryName{
        padding-left: 185px !important;
    }
    .vendor_products_price{
        padding-left: 40px;
    }
}
@media screen and (min-width:835px) and (max-width:934px){
    .carouselStyle{
        margin-left: 0rem;
        margin-right: 5.5rem;
    }
    .caroseul_creator_style{
        margin-left: 84px;
        margin-right: 80px;
    }
    .vendor_products_categoryName{
        padding-left: 155px !important;
    }
    .vendor_products_price{
        padding-left: 30px;
    }

}
@media screen and (min-width:650px) and (max-width:835px){
    .carouselStyle{
        margin-left: -1.6rem;
        margin-right: 2.5rem;
    }
    .caroseul_creator_style{
        margin-left: 60px;
        margin-right: 60px;
    }
    .subscribe_shop_style {
        position: absolute;
        right: 41px;
        top: 285px;
    }
}
@media screen and (min-width:650px) and (max-width:835px){
    .carouselStyle{
        margin-left: -1.6rem;
        margin-right: 2.5rem;
    }
    .caroseul_creator_style{
        margin-left: 60px;
    }
}


@media screen and (max-width:750px ) {
    .banner_description{
        width: 90vw;
        font-size: 12px;
        position: absolute;
        top: 23px;
    }
    .banner_title_h2{
        position: absolute;
        top: 4px;
        width: 90vw;
    }
}
@media screen and (min-width:750px ) {
    .banner_description{
        position: absolute;
        top: 70px;
        width: 90vw;
    }
    .banner_title_h2{
        position: absolute;
        top: -20px;
        margin-top: 40px;
        width: 90vw;
    }
}